<!DOCTYPE html>
<html>
<head>
  <title>NExtFirstApp</title>
  <head>FIRST TRY</head>
  <h1>SECOND TRY</h1>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
